.menu{
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    background-color:#363636 ;
    color: white;
    font-family: 'Times New Roman', Helvetica, sans-serif;
    
}
